<div class="col-6 <%= current_user.id == message.user_id ? "messageLeft" : "messageRight" %>">
  <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "avatar" %>
          <span><%= message.user.username %></span>
        </i>
         <div class="message-content">
          <!-- Code pour chopper le lien du trade via actioncable,
            ne marche que si il y +link_to -->
          <% pattern = /Un nouveau trade est arrivé ! (?<link>\d+)$/
          if !message.content.match(pattern).nil?
            match_data = message.content.match(pattern)
            trade = Trade.find(match_data[:link])
          end %>
          <p><%= !match_data.nil? ? link_to("Nouveau trade", user_trade_path(trade.user_id, trade.id)) : message.content %></p>

          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </div>
  </div>
</div>

