<div class="col-6 <%= current_user.id == message.user_id ? "messageLeft" : "messageRight" %>">
  <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "avatar" %>
          <span><%= message.user.username %></span>
        </i>
         <div class="message-content">
          <p><%= message.content %></p>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </div>
  </div>
</div>

