<tr class="bg-white hover:bg-gray-50" 
    data-controller="user-wanted-card" 
    data-user-wanted-card-id="<%= user_wanted_card.id %>" 
    data-user-id="<%= user_wanted_card.user_id %>">
  
  <th scope="row" class="px-4 py-3 font-medium text-gray-900">
    <%= user_wanted_card.card.name_en %>
  </th>
  
  <td class="px-4 py-3 text-gray-600">
    <%= condition_label(user_wanted_card.min_condition) unless user_wanted_card.min_condition == 'unimportant' %>
    <%= t('wants.conditions.unimportant') if user_wanted_card.min_condition == 'unimportant' %>
  </td>
  
  <td class="px-4 py-3">
    <% if user_wanted_card.card_version_id.present? %>
      <% if user_wanted_card.card_version&.extension&.icon_uri.present? %>
        <%= image_tag user_wanted_card.card_version.extension.icon_uri, 
                      alt: user_wanted_card.card_version.extension.name, 
                      class: "w-8 h-8",
                      title: "#{user_wanted_card.card_version.extension.name} - #{user_wanted_card.card_version.extension.code}" %>
      <% else %>
        <%= "#{user_wanted_card.card_version.extension.name} - #{user_wanted_card.card_version.extension.code}" %>
      <% end %>
    <% else %>
      <%= t('wants.extensions.any') %>
    <% end %>
  </td>
  
  <td class="px-4 py-3 text-gray-600">
    <%= language_label(user_wanted_card.language) unless user_wanted_card.language == 'any' %>
    <%= t('wants.languages.any') if user_wanted_card.language == 'any' %>
  </td>
  
  <td class="px-4 py-3">
    <% if user_wanted_card.foil %>
      <%= image_tag "star.svg", alt: t('wants.attributes.foil'), class: "w-6 h-6" %>
    <% end %>
  </td>
  
  <td class="px-4 py-3 text-gray-600">
    <%= user_wanted_card.quantity %>
  </td>
  
  <td class="px-4 py-3 text-gray-600">
    <%= user_wanted_card.matches_count %>
  </td>
  
  <td class="px-4 py-3">
    <div class="relative flex justify-center group">
      <button class="text-gray-600 hover:text-gray-900">
        <i class="fas fa-eye"></i>
      </button>
      <div class="absolute hidden group-hover:block w-52 h-72 top-full mt-2 left-1/2 transform -translate-x-1/2 bg-white rounded-lg shadow-lg overflow-hidden z-10 border border-gray-200">
        <%= image_tag user_wanted_card.img_uri,
                    alt: user_wanted_card.card.name_en, 
                    class: "w-full h-full object-cover" %>
      </div>
    </div>
  </td>
  
  <td class="px-4 py-3">
    <div class="flex items-center space-x-4">
      <%= link_to t('wants.table.actions.edit'), 
                edit_user_user_wanted_card_path(user_wanted_card.user, user_wanted_card), 
                class: "text-blue-600 hover:text-blue-800 font-medium" %>
      <button data-action="user-wanted-card#delete" 
              class="text-red-600 hover:text-red-800 font-medium">
        <%= t('wants.table.actions.delete') %>
      </button>
    </div>
  </td>
</tr>