<div id="<%= dom_id(notification) %>" 
     class="p-4 hover:bg-gray-50 <%= notification.unread? ? 'bg-purple-50' : '' %> <%= notification.clickable? ? 'cursor-pointer group' : '' %>">
  <% if notification.clickable? %>
    <%= link_to notification.resource_path,
        class: "block",
        data: { 
          notification_id: notification.id,
          action: notification.unread? ? "click->notifications#markAsReadAndNavigate" : nil
        } do %>
      <%= render "notifications/notification_content", notification: notification %>
    <% end %>
  <% else %>
    <%= render "notifications/notification_content", notification: notification %>
  <% end %>
</div>
