<div id="<%= dom_id(notification) %>" class="notification <%= notification.unread? ? 'bg-blue-50' : '' %> p-4 mb-2 rounded-lg shadow">
  <div class="flex items-center justify-between">
    <div class="flex-1">
      <p class="text-sm text-gray-800"><%= notification.content %></p>
      <p class="text-xs text-gray-500 mt-1">
        <%= time_ago_in_words(notification.created_at) %> <%= t('general.ago') %>
      </p>
    </div>
    <% if notification.unread? %>
      <div class="w-2 h-2 bg-blue-500 rounded-full"></div>
    <% end %>
  </div>
</div>
