<%= turbo_stream.replace dom_id(@notification) do %>
  <%= render 'notifications/notification', notification: @notification %>
<% end %>

<% if current_user.notifications.unread.empty? %>
  <%= turbo_stream.update 'notifications_count', '' %>
<% else %>
  <%= turbo_stream.update 'notifications_count' do %>
    <span class="absolute -top-1 -right-1 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full">
      <%= current_user.notifications.unread.count %>
    </span>
  <% end %>
<% end %>
