<div class="container">

<% if current_user == @user %>
  <span>Total collection : <%= @cards.length %></span><br>
  <span>Total WantList : <%= @wants.length %></span><br>
  <span>Nombre de trades en cours</span><br>
  <span>Nombre de trades réalisés en cours</span><br>

<% else %>

    <div class="row justify-content-between">
      <%= render "shared/card", locals: {title: "Ma collection", cards: @cards}  %>
      <%= render "shared/card", locals: {title: "Sa collection", cards: @other_cards}  %>
      <%= render "form" %>
    </div>

  <% end %>

</div>


