<h1 class="text-xl font-bold text-center mb-6">Modifier la carte</h1>

<%= simple_form_for([@user_card.user, @user_card], html: { class: "max-w-lg mx-auto" }) do |f| %>
  <div class="mb-5">
    <%= f.input :card_version_id,
                collection: @versions,
                label_method: ->(cv) { cv.extension.name },
                value_method: :id,
                label: 'Extension de la carte',
                input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" },
                required: true %>
  </div>

  <div class="mb-5">
    <%= f.input :condition,
                as: :select,
                collection: UserCard.conditions.keys.map { |condition| [condition.humanize, condition] },
                input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" },
                required: true %>
  </div>

  <div class="mb-5">
    <%= f.input :foil,
                as: :boolean,
                wrapper_html: { class: "flex items-center" },
                input_html: { class: "w-4 h-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" } %>
  </div>

  <div class="mb-5">
    <%= f.input :language,
                as: :select,
                collection: UserCard.languages.keys.map { |language| [language.humanize, language] },
                input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" },
                required: true %>
  </div>

  <div class="mb-5">
    <%= f.input :quantity,
                as: :integer,
                input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", min: 1 } %>
  </div>

  <div>
    <%= f.button :submit, "Enregistrer les modifications", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
