<%= link_to 'Ajouter une nouvelle carte', new_user_user_card_path(@user), class: "text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xs px-5 py-2.5 text-center me-2 mb-2" %>

<div class="relative shadow-md sm:rounded-lg">
  <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-4 py-2">Carte</th>
        <th scope="col" class="px-4 py-2">Condition</th>
        <th scope="col" class="px-4 py-2">Extension</th>
        <th scope="col" class="px-4 py-2">Langue</th>
        <th scope="col" class="px-4 py-2">Foil</th>
        <th scope="col" class="px-4 py-2">Quantité</th>
        <th scope="col" class="px-4 py-2">Prix</th>
        <th scope="col" class="px-4 py-2">N° Collection</th>
        <th scope="col" class="px-4 py-2">Rareté</th>
        <th scope="col" class="px-4 py-2">Scan</th>
        <th scope="col" class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user_cards.each do |user_card| %>
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" data-controller="user-card" data-user-card-id="<%= user_card.id %>" data-user-id="<%= user_card.user_id %>">
          <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= user_card.card_version.card.name_en %>
          </th>
          <td class="px-4 py-2">
            <%= condition(user_card.condition) %>
          </td>
          <td class="px-4 py-2">
            <% if user_card.card_version.extension.icon_uri.present? %>
              <%= image_tag user_card.card_version.extension.icon_uri, alt: user_card.card_version.extension.name, class: "w-8 h-8" %>
            <% end %>
          </td>
          <td class="px-4 py-2">
            <%= flag_for_language(user_card.language) %>
          </td>
          <td class="px-4 py-2">
            <% if user_card.foil %>
              <img src="https://www.svgrepo.com/show/13695/star.svg" alt="Foil Star" class="w-6 h-6">
            <% end %>
          </td>
          <td class="px-4 py-2">
            <%= user_card.quantity %>
          </td>
          <td class="px-4 py-2">
            <% if user_card.foil %>
              <%= number_to_currency(user_card.card_version.eur_foil_price, unit: " €", format: "%n%u") %>
            <% else %>
              <%= number_to_currency(user_card.card_version.eur_price, unit: " €", format: "%n%u") %>
            <% end %>
          </td>
          <td class="px-4 py-2">
            <%= user_card.card_version.collector_number %>
          </td>
          <td class="px-4 py-2">
            <span class="inline-block w-4 h-4 rounded-full <%= rarity_color(user_card.card_version.rarity) %>"></span>
          </td>
          <td class="px-4 py-2 text-right">
            <div class="relative flex justify-center group">
              <i class="fas fa-eye cursor-pointer"></i>
              <!-- Ajustement ici : retirer -translate-y-full et ajuster translate-x pour centrer -->
              <div class="absolute hidden group-hover:block w-52 h-72 translate-y-8 translate-x-[-50%] bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden z-10">
                <%= image_tag user_card.card_version.img_uri, alt: user_card.card_version.card.name_en, class: "w-full h-full object-cover" %>
              </div>
            </div>
          </td>
          <td class="px-4 py-2 text-right">
            <%= link_to 'Modifier', edit_user_user_card_path(user_card.user, user_card), class: "text-indigo-600 hover:text-indigo-900 mr-2" %>
            <button data-action="user-card#delete" class="text-red-600 hover:text-red-900 ml-4">Supprimer</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
