<%= simple_form_for([@user, @user_card], html: { data: { controller: "autocomplete" } }) do |f| %>
  <!-- Champ de texte standard pour le nom de la carte -->
  <div class="form-input">
    <label for="card_name">Nom de la carte</label>
    <input type="text" id="card_name" name="card_name" data-action="keyup->autocomplete#search" data-autocomplete-target="input">
  </div>

  <div id="card-suggestions" data-autocomplete-target="suggestions">
    <!-- Les suggestions de cartes seront insérées ici -->
  </div>

  <!-- Champ de sélection pour la version de la carte, initialisé sans option -->
  <div class="form-input">
    <label for="card_version_id">Extension</label>
    <select id="card_version_id" name="user_card[card_version_id]" data-autocomplete-target="extension"></select>
  </div>

  <%= f.input :condition, as: :select, collection: UserCard.conditions.keys, include_blank: false %>
  <%= f.input :foil, as: :boolean %>
  <%= f.input :language, as: :select, collection: UserCard.languages.keys, include_blank: false %>
  <%= f.input :quantity, input_html: { min: 1 }, as: :integer %>
  <%= f.button :submit %>
<% end %>
