<%= simple_form_for([@user, @user_card], html: { class: "max-w-sm mx-auto mt-6", data: { controller: "autocomplete" } }) do |f| %>
  <!-- Champ de texte personnalisé pour le nom de la carte -->
  <div class="mb-5">
    <label for="card_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom de la carte</label>
    <input type="text" id="card_name" name="card_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" data-action="keyup->autocomplete#search" data-autocomplete-target="input">
  </div>

  <div id="card-suggestions" data-autocomplete-target="suggestions">
    <!-- Les suggestions de cartes seront insérées ici -->
  </div>

  <div data-autocomplete-target="formFields" class="hidden">

    <!-- Champ de sélection personnalisé pour la version de la carte -->
    <div class="mb-5">
      <label for="scryfall_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Extension</label>
      <select id="scryfall_id" name="user_card[scryfall_id]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" data-autocomplete-target="extension"></select>
    </div>

    <!-- Utilisation de f.input pour les champs directement liés au modèle UserCard -->
    <div class="mb-5">
      <%= f.input :condition, as: :select, collection: UserCard.conditions.keys, include_blank: false, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </div>

    <%= f.input :foil, as: :boolean, wrapper_html: { class: "mb-5 flex items-start" }, label_html: { class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" }, input_html: { class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600" } %>

    <div class="mb-5">
      <%= f.input :language, as: :select, collection: UserCard.languages.keys, include_blank: false, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </div>

    <div class="mb-5">
      <%= f.input :quantity, as: :integer, input_html: { min: 1, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Soumettre</button>
  
  </div>
<% end %>
