<div class="container">

  <div class="row justify-content-between text-center">
    <div class="col-6"><p>Mon total: <span id="monTotal">0</span></p></div>
    <div class="col-6"><p>Son total: <span id="sonTotal">0</span></p></div>
  </div>

  <div class="row justify-content-between">
    <%= render "shared/card", locals: {title: "Mes cartes trade",
      cards: @trade_user_cards,
      side: "card-offer"}  %>
    <%= render "shared/card", locals: {title: "Ses cartes trade",
      cards: @trade_user_wanted_cards,
      side: "card-target"}  %>
  </div>

  <div class="row justify-content-between">
    <%= render "shared/card", locals: {title: "Cartes qu'il recherche",
      cards: @cards_other_wants,
      side: "card-offer"}  %>
    <%= render "shared/card", locals: {title: "Cartes que je recherche",
      cards: @cards_i_wants,
      side: "card-target"}  %>
  </div>


  <div class="row justify-content-between">
    <%= render "shared/card", locals: {title: "Ma collection",
      cards: @my_cards,
      side: "card-offer"}  %>
    <%= render "shared/card", locals: {title: "Sa collection",
      cards: @other_cards,
      side: "card-target"}  %>
  </div>
  <%= render "shared/form" %>

</div>


