<div class="row justify-content-between">
  <div class="col-5">
    <h2>MY COLLECTION</h2>
    <h3>total : <%= @totalPrice %> €</h3>
    <% @cards.each do |card| %>
    <div class="card-offer card-product" data-id=<%= card.id%> >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= card.name %></h2>
      </div>
    </div>
    <% end  %>
  </div>


  <div class="col-5">
    <h2>ITS COLLECTION</h2>
    <h3>total : <%= @otherTotalPrice %> €</h3>
    <% @othercards.each do |card| %>
    <div class="card-target card-product" data-id=<%= card.id%> >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= card.name %></h2>
        <h2><%= card.image.price %></h2>
      </div>
    </div>
    <% end %>
  </div>


</div>
<%= link_to("Modifier Trade", edit_user_trade_path(@trade.user_id, @trade.id)) %>
<%= link_to("Accepter Trade", user_trade_path(@trade.user_id, @trade.id, accept: true), method: 'put') %>

